body {
  padding: 0;
  margin: 0;
}

nav {
  border-bottom: solid black 1px;
  margin-bottom: 10px;
}

#display {
  width: 100%;
  height: 100%;
}


#loginStuff{
  position: absolute;
  width: 80%;
  height: 60%;
  top: 50%;
  left: 50%;
  margin: -30vh 0 0 -40vw;
  border: solid 2px #bf2a0f;
  border-radius: 20px;
  padding: 20px;
  text-align:center;
}

#loginStuff h1, #loginStuff h5, #loginStuff h6{
  padding: 20px;
  text-align:center;
}

#someLinks {
  text-align: center;

}
#someLinks a img {
  border: black solid 1px;
  border-radius: 20px;
  max-height: 40px;
  max-width: 100px;
}
div[data-page=template] {
    display: none;
  }

#topics li {
  list-style: none;
}

#topics div {
  display: inline-block;
}

#commentList div {
  display: inline-block;
}

#topicContents div {
  padding: 10px;
}
#topic {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 2em;
}
#topicText {
  display: inline-block;
  margin-bottom: 10px;

}


